linkbutton {
  background: none!important;
  border: none;
  padding: 0!important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.lh-100 {
  line-height: 1;
}

.lh-125 {
  line-height: 1.25;
}

.text-white-50 {
  color: rgba(255, 255, 255, .5);
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}
.views-number {
  font-size: 24px;
  line-height: 18px;
  font-weight: 400;
}
.panel-heading {
  font-weight: 700;
  font-style: normal;
  line-height: 40px;
  height: 40px;
  padding: 0 0 0 10px;
  text-transform: uppercase;
  color: #fff;
  border-color: transparent;
  border-radius: 3px 3px 0 0;
  background-color: #26bcb5;
}

.table {
  margin-bottom: 0;
  border-top: 0;
  background: #fff;
}

.footable {
  width: 100%;
}

.table>thead>tr>th {
  font-size: inherit;
  color: #fff;
  border: 0;
  border-bottom: 7px solid #ddd;
  padding: 4px 10px;
  border-width: 0;
  background: #c7cbd6;
}

.table>tbody>tr:first-child>td,
.table>tfoot>tr:first-child>td,
.table>thead>tr:first-child>td {
  border-top: 0 none;
}

.table-primary tbody tr:nth-child(2n+1) td,
.table-primary tbody tr:nth-child(2n+1) th {
  background: 0 0 #fff;
}

.table>tbody>tr>td,
.table>tfoot>tr>td,
.table>thead>tr>td {
  padding: 10px 8px;
  vertical-align: inherit;
  border-top: 4px solid #e4e9eb;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}

.table-primary tbody td {
  color: #94a0a0;
  border-width: 0;
  background: 0 0 #fafafa;
}

  .table>tbody>tr>td,
  .table>tfoot>tr>td,
  .table>thead>tr>td {
    padding: 10px 8px;
    vertical-align: inherit;
    border-top: 4px solid #e4e9eb;
  }

  .table>tbody>tr>td,
  .table>tbody>tr>th,
  .table>tfoot>tr>td,
  .table>tfoot>tr>th,
  .table>thead>tr>td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
  }

  .table-primary tbody td {
    color: #94a0a0;
    border-width: 0;
    background: 0 0 #fafafa;
  }

  table .stats-col {
    font-family: 'Asap Condensed', 'Arial', 'Helvetica', sans-serif;
    font-size: 13px;
    background-color: #e4e9eb !important;
    letter-spacing: .4px;
  }